<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/mylist">mylist</a></li>
      <li><a href="/search">search</a></li>
      <li><a href="/details">details</a></li>
    </ul>
  </nav>
</header>
